body{
    background-color: yellow;
}
#Score{
    margin-left: 50px;
    font-size: 30px;
}
#Time{
    margin-right: 100px;
    float: right;
    font-size: 30px;
}
#sketch_name{
    color: green;
}